#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gmail Desktop
Exec=/opt/Gmail-linux-x64/Gmail --ozone-platform=wayland
Icon=gmail
